{{#*inline "timePartial"}}
{{#if this}}
<span id="timeofday" class="etk-timeofday flexrow flexshrink" style="color:{{color}};">
    {{time}}
</span>
{{/if}}
{{/inline}}

{{log this}}
<div class="et-time flexcol">
    {{> timePartial time=time color=textColor }}

    {{#with gameTurnData}}
    <span id="dbtime" class="etk-timeofday flexrow flexshrink" style='color: {{textColor}};'>
        {{#if days}}
        {{localize "JDTIMEKEEPING.Time.Day"}} {{days}}, {{gameTurnName}} {{turns}} <br />
        {{shiftName}} {{gameShiftName}}
        {{else}}
        {{gameTurnName}} {{turns}}, {{shiftName}} {{gameShiftName}}
        {{/if}}
    </span>
    {{/with}}

    <div class="etk-clock-panel flex-align-center">
        <div class="etk-clock-list flexrow flexshrink">
            {{#each clocks as |clock|}}
            <div class="etk-clock-entry hovertext" data-hover="{{clock.name}}">
                <span class="etk-clock"
                    style="--areas: {{clock.max}}; --filled: {{clock.value}}; --clock-color: {{clock.color}}; --background: {{clock.backgroundColor}}; --spoke-color: {{clock.spokeColor}};">
                    {{#each clock.spokes}}
                    <div class="etk-spoke" style="--index: {{ this }}"></div>
                    {{/each}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>

    {{!-- analogue clock --}}
    {{#if analogueClock.show}}
    <div class="form-row flex-align-center">
        <div class="hovertext" data-hover="{{analogueClock.hoverText}}">
            <div class="clock" style="
                --hour-rotation: {{analogueClock.hourRotation}}deg; 
                --minute-rotation: {{analogueClock.minuteRotation}}deg; 
                --dial-color: {{analogueClock.dialColor}}; 
                --hour-hand-color: {{analogueClock.hourHandColor}}; 
                --minute-hand-color: {{analogueClock.minuteHandColor}}; 
                --tick-color: {{analogueClock.tickColor}};
                --size: {{analogueClock.size}}px;">
                <div class="clock__hand clock__hand--hour"></div>
                <div class="clock__hand clock__hand--minute"></div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if isGM}}
    <span class="button-container flexrow time-button-container flex-align-center flexshrink"
        style="--color: {{btn.color}}; --hover-color: {{btn.hoverColor}}; --click-color: {{btn.clickColor}};">

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.reset'}}">
            <i id="btn-etk-reset-time" data-action="reset-time" class="fa-solid fa-clock-rotate-left"></i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.largeDec'}}">
            <i id="btn-etk-large-dec" data-action="time-delta" data-target="large-decrement"
                class="fa-solid fa-backward-fast"></i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.smallDec'}}">
            <i id="btn-etk-small-dec" data-action="time-delta" data-target="small-decrement"
                class="fa-solid fa-backward"></i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.smallInc'}}">
            <i id="btn-etk-small-inc" data-action="time-delta" data-target="small-increment"
                class="fa-solid fa-forward "> </i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.largeInc'}}">
            <i id="btn-etk-large-inc" data-action="time-delta" data-target="large-increment"
                class="fa-solid fa-forward-fast "> </i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.set'}}">
            <i id="btn-etk-set-time" data-action="set-time" class="fa-solid fa-clock "></i>
        </span>

        <span class="hovertext" data-hover="{{localize 'JDTIMEKEEPING.UI.timeChat'}}">
            <i id="btn-etk-tell-time" data-action="tell-time" class="fa-solid fa-message"></i>
        </span>
    </span>
    {{/if}}
</div>